.git
.github
.idea
backend/vendor
backend/secrets*.yml*
backend/.env*
backend/*phpinfo*.html
backend/*.key
backend/*.pem
backend/*.p12
backend/runtime
backend/public/game
dist
docs
node_modules
.env
.env.*
*.key
*.pem
*.p12
